<!doctype html>
<html>
	<head>
	<title>Flask app -{%block html_title%}{%endblock%}</title>

	<link rel="stylesheet" href="/static/styles.css"/>
	    <style>
      h1 {
        background-color: lightgreen;
      }
      h2 {
        background-color: rgb(142, 191, 66);
      }
      p {
        background-color: hsl(300, 100%, 25%);
      }
      span {
        background-color: #ff7f50);
      }
    </style>

	</head>

	<body>
		<heading>
			<h2 style="text-align: center;">Welcome to our page </h2>
			<h3 style="text-align: center;">Feel free to add your data and then search for any names to see who has already been there!</h3
		</heading>
		{%block content%} {%endblock%}

	</body>
</html>